<div class="row">
  <div class="col-12">
    <carousel [isAnimated]="true" [noPause]="true" [showIndicators]="false">
      <slide>
        <img
          src="{{ movie.detailImages.url }}"
          style="display: block; width: 100%"
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ movie.name }}</h3>
        </div>
      </slide>
      <slide>
        <img
          src="{{ movie.detailImages.url2 }}"
          style="display: block; width: 100%"
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ movie.name }}</h3>
        </div>
      </slide>
      <slide>
        <img
          src="{{ movie.detailImages.url3 }}"
          style="display: block; width: 100%"
        />
        <div class="carousel-caption d-none d-md-block">
          <h3>{{ movie.name }}</h3>
        </div>
      </slide>
    </carousel>
  </div>
</div>
