slide {
  height: 60vh;
  max-height: 600px;

  .carousel-caption {
    background: linear-gradient(
      to top,
      #0c0c0cd9 0%,
      #0c0c0c7a 60%,
      #48484800 100%
    );
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 60%;
    color: white;
    h3 {
      position: absolute;
      bottom: 20%;
      left: 5%;
      margin-bottom: 0;
      font-size: 4.5rem;
      font-weight: 400;
    }
  }
}
