/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap");

body {
  background: #0d1117;
  color: #8b949e;
}

* {
  font-family: "Montserrat", sans-serif;
  font-size:14px;
}


.card, .form-control{
  background: none;
  border: 1px solid #363636;
  &:focus{
    background:none
  }
}
