.home {
  &__movie {
    overflow: hidden;
    position: relative;
    border-radius: 23px;
    background: #0f131a;
    box-shadow: 4px 4px 10px #000000, -4px -4px 10px #2b2e36;
    height: 40vh;
    &:hover {
      box-shadow: none;
    }
    &__poster {
      min-width: 100%;
      max-width: auto;
      filter: brightness(0.9);
      height:100%;
    }
    &__name {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(
        to top,
        #0c0c0cd9 0%,
        #0c0c0c7a 60%,
        #48484800 100%
      );
      padding: 2.5rem 1rem 1rem;
      color: #bec2c7;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
