table.mat-table.cdk-table.cart-table {
  margin: 3vh 3vw 0;
  border-radius: 30px;
  width: calc(100vw - 6vw - 48px);
  background: #161c24;
  .mat-header-cell,
  .mat-cell {
    border-color: rgb(30 37 48) !important;
    color: #8b949e;
    font-weight: 400;
  }
  .mat-header-cell {
    font-size: 14px;
  }
}
